@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif;
}


.frontCard{
  background: url("./images/Rectangle\ 27.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 246px;
  width: 447px;
}

.backCard{
  background: url("./images/Rectangle\ 4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 246px;
  width: 447px;
}

.btn {
  background-color: hsl(278, 68%, 11%);
  @apply py-3 px-6 rounded shadow text-white text-base tracking-wide lg:text-lg;
}